
h1 {
    color: rgb(255, 0, 128);
    background-color: rgb(88, 153, 88);
    text-align: center;
    font-weight: bold;
}

p {
    /* background-color: darkgreen; */
    text-decoration: underline red wavy;
    line-height: 5;
    letter-spacing: 10;
}