

.circle {
    width: 300px;
    height: 300px;
   border-radius: 50%;
   color: crimson;
   border-color: crimson;
   background-color: crimson;
   transition: 1s;
}
.circle:hover
{
    border-radius: 0;
    background-color: darkblue;
}